<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonExtensions.Helpers" version="2.4.7" targetFramework="net461" />
  <package id="CommonExtensions.TSql" version="2.2.1" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Flurl" version="2.4.0" targetFramework="net461" />
  <package id="Flurl.Http" version="1.2.0" targetFramework="net461" />
  <package id="Foundation" version="2.3.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.TransactSql.ScriptDom" version="14.0.3660.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Passager" version="0.2.2" targetFramework="net461" />
  <package id="System.Interactive" version="3.1.1" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="TracingExtensions" version="1.1.0.0" targetFramework="net461" />
</packages>